*{

  margin: 0;
  padding: 0;

}

.home{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vw;

}
/*

///////////////////////////////////////////////////////////
Scroll Bar
///////////////////////////////////////////////////////////

*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(18, 18, 17);
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/*

///////////////////////////////////////////////////////////
Main image and search options
///////////////////////////////////////////////////////////

*/

.titleText{

  font-family: export,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3rem;

}

.homeImg{

  width: 75vw;
  max-width: 800px;

}

.options{

  display: flex;
  flex-direction: column;
  width: 55vw;
  justify-content: space-between;
  padding-bottom: 40px;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  align-items: center;

}

.srch{
  -webkit-appearance: none;
  outline: none;
  border: none;
  background-color: #d3d3d3;
  height: 15px;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 33vw;
  max-width: 375px;
  min-width: 75px;
  margin-right: 2rem;
}

select {

  background-color: #d3d3d3;
  border-radius: 2rem;
  outline: none;
  padding: 0.2rem;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
}

.toptions{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;

}

/*

///////////////////////////////////////////////////////////
Podcast Grid and Cells
///////////////////////////////////////////////////////////

*/

.grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(75vw, 600px));
  grid-gap: 4rem;
  padding-bottom: calc(6vh + 0.3rem);

}

.cell{

  display: flex;
  align-items: center;
  background-color: white;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;

}

.innerCell{

  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  border: 2px black solid;
  width: 96%;
  cursor: pointer;
  background-color: white;
  transition: 0.3s ease-in-out;

}

.dte{

  writing-mode: vertical-rl;
  text-orientation: upright;

}

.coggle{

  background-color: #dedede;

}

.innerCell:hover{

  background-color: #dedede;

}

.cell img{

  cursor: pointer;
  margin-right: 1rem;

}

.innerCell h3{

  margin-bottom: 1rem;

}

.cellWall{

  width: 3px;
  height: 100%;
  background-color: black;
  padding: 0rem 0.5rem;
}

.logo{

  width: 12vw;
  max-width: 75px;
  min-width: 35px;
  padding-right: 1.5rem;
}
/*
.cell::after{

  content: "";
  padding-top: 25px;
  display: block;
  background: red;

}
*/

/*

///////////////////////////////////////////////////////////
Footer Audio Bar
///////////////////////////////////////////////////////////

*/
.audioBar{

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  padding: 0.4rem 0rem;
  transform: translateX(101vw);
  transition: 1s ease-in-out;
  border: solid black 2px;


}

.audioBar h3{

  transform: translateY(0.5rem);

}

.tb{

  display: flex;
  padding-bottom: 0.8rem;
  align-items: center;

}

input[type=range]{

  -webkit-appearance: none;

}

.slider {
  -webkit-appearance: none;
  width: 35vw;
  height: 8px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 19px;
  height: 19px;
  background-image: url('../images/slider.png');
  background-position: center;
  cursor: pointer;
}

.reveal{

  transform: translate(0vw);

}

.burger{
  position: fixed;
  z-index: 5;
  cursor: pointer;
  transition: 1s ease-in-out;
  bottom: 2.5%;
  right: 2.5%;
  background-color: white;
  border: dashed black 2px;
  padding: 0.2rem 0.3rem;
  border-radius: 4rem;
}

.ex{

  transform: rotate(405deg);

}

.burger div{
  background-color: #000000;
}
/*Horizontal*/
.line1{

  transform: translateY(12.5px) translateX(0.4px);
  width: 25.4px;
  height: 3px;

}
/*Vertical*/
.line2{

  transform: translateX(11.5px) translateY(-1px);
  width: 3px;
  height: 25px;

}

.time{

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;

}

.currentTime, .duration{

  padding: 0rem 1rem;

}

.next, .previous{

  width: 2.6rem;
  transition: 0.3s ease-in-out;
  padding: 0rem 0.5rem;
  cursor: pointer;

}

.nextSec, .prevSec{

  width: 1.8rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  padding: 0rem 0.5rem;


}

/*

///////////////////////////////////////////////////////////
Media Queries
///////////////////////////////////////////////////////////

*/

@media (hover:hover) and (pointer:fine) {

  .next:hover, .previous:hover{

    transform: scale(1.2);

  }

  .nextSec:hover, .prevSec:hover{

    transform: scale(1.2);


  }

  .slider:hover {
    opacity: 1;
  }

}
