*{

  margin: 0;
  padding: 0;

}

.home{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vw;

}

.titleText{

  font-family: export,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3rem;

}

.homeImg{

  width: 75vw;
  max-width: 800px;

}

.options{

  display: flex;
  width: 80vw;
  justify-content: space-between;
  padding-bottom: 40px;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;

}

.grid{
  display: grid;
  grid-template-columns: repeat(1, minmax(80vw, 600px));
  grid-gap: 5rem;

}

.cell{

  display: flex;
  flex-direction: column;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: white;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  border: 2px black solid;

}

.cell img{

  cursor: pointer;

}

.logo{

  width: 12vw;
  max-width: 115px;
  min-width: 50px;
}
/*
.cell::after{

  content: "";
  padding-top: 25px;
  display: block;
  background: red;

}
*/
.aud{

  display: flex;
  align-items: center;

}

.time{

  display: flex;
  align-items: center;
  justify-content: space-between;

}

.currentTime, .duration{

  padding: 0rem 1rem;

}

.next, .previous{

  width: 3rem;
  transition: 0.3s ease-in-out;
  padding: 0rem 0.5rem;

}

@media (hover:hover) and (pointer:fine) {

  .next:hover, .previous:hover{

    transform: scale(1.2);

  }

}
