/*

///////////////////////////////////////////////////////////
CSS for the elements of the main page of the site
///////////////////////////////////////////////////////////

*/
*{

  margin: 0;
  padding: 0;

}

html{

  scroll-behavior: smooth;
  font-size: 16px;

}

body{

  overflow-x: hidden !important;
  background-color: #ffffff;

}
/*

///////////////////////////////////////////////////////////
Scroll Bar
///////////////////////////////////////////////////////////

*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(18, 18, 17);
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

/*

///////////////////////////////////////////////////////////
Main image and search options
///////////////////////////////////////////////////////////

*/

.titleText{

  font-family: export,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 3rem;

}

.homeImg{

  width: 85vw;
  max-width: 725px;
  min-width: 325px;

}

.searchAndLogo{

  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: space-between;
  padding-bottom: 40px;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  align-items: center;

}

.toptions{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-left: calc(80px + 2rem);

}

.srchContainer{

  display: flex;
  align-items: center;

}

.srch{
  -webkit-appearance: none;
  outline: none;
  border: none;
  box-shadow: inset .1rem .1rem .25rem rgba(213, 215, 222, 0.8), inset -.07rem -.07rem .25rem #f5f5f5;
  height: 20px;
  padding: 0.5rem 2.8rem;
  border-radius: 2rem;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 40vw;
  color: #45464a;
  max-width: 450px;
  min-width: 75px;
  margin-right: 2rem;
}

.srch:focus{

  box-shadow: .1rem .1rem .35rem rgba(213, 215, 222, 0.9), -.07rem -.07rem .25rem #f5f5f5;

}

.srch:focus ~ .srchIcon{

  color: #0049ff;

}

.srchIcon{

  cursor: pointer;
  position: absolute;
  font-size: 1.3rem;
  padding: 0rem 1rem;
  display: flex;
  color: #85878c;
  transition: 0.5s ease-in-out;

}

select {

  border-radius: 2rem;
  outline: none;
  padding: 0.2rem 0.5rem;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  cursor: pointer;
  border: none;
  box-shadow: .1rem .1rem .25rem rgba(213, 215, 222, 1), -.07rem -.07rem .25rem #f5f5f5;
  width: 80px;

}

/*

///////////////////////////////////////////////////////////
Podcast Grid and Cells
///////////////////////////////////////////////////////////

*/

.grid{

  margin: 0vw 5vw 5vw 5vw;
  display: grid;
  grid-template-columns: repeat(1, minmax(250px, 1000px));
  grid-gap: 4rem;
  padding-bottom: calc(6vh + 0.3rem);
  justify-content: center;

}

/*111px seems like a good height*/
.cell{

  background-color: #ffffff;
  font-family: hypatia-sans-pro,sans-serif;
  font-weight: 600;
  font-style: normal;
  position: relative;
  height: fit-content;
  cursor: pointer;
  box-shadow: 0.15rem 0.15rem 0.4rem rgba(0, 0, 0, 0.2), 0rem 0rem 0.15rem rgba(0, 0, 0, 0.01);
  border-radius: 15px 0px 15px 15px;

}

.innerCell{
  display: flex;
  border: solid 0px black;
  padding: 0.4rem 1rem;
  align-items: center;
  height: 125px;
  border-radius: 15px 0px 15px 15px;
  transition: 0.2s ease-in-out;
  background-color: white;

}

.info{
  /*
  text-overflow: ellipsis;
  word-wrap: break-word;
  */
  width: 75vw;
  margin-left: 1.5rem;
  max-width: 815px;

}


.dte{

  font-size: 0.9rem;
  margin-bottom: 0.7rem;
  font-style: italic;


}

.title{

  -webkit-line-clamp: 1;
  margin-bottom: 0.3rem;
  font-size: 1.1rem;

}

.description{

  -webkit-line-clamp: 3;
  font-size: 0.8rem;

}

.title, .description{

  display: -webkit-box;
  -webkit-box-orient: vertical;
    overflow: hidden;

}

/*

///////////////////////////////////////////////////////////
Cell youtube video tab and iframe
///////////////////////////////////////////////////////////

*/

.cellYou{
  /*
  border-color: rgba(0, 0, 0, 0.2);
  border-style: outset;
  border-width: 1px 1px 0px 1px;
  */
  position: absolute;
  cursor: pointer;
  top: calc(-1.9rem - 9px);
  right: -10px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  padding: 10px 10px 0px 10px;

}

.cellYou > div{

  box-shadow: 0.15rem 0.15rem 0.4rem rgb(0 0 0 / 20%), 0rem 0rem 0.15rem rgb(0 0 0 / 1%);
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 0.3rem;
  transition: 0.2s ease-in-out;
  background-color: white;

}

.cellYou p{

  font-size: 0.9rem;
  padding-left: 5px;

}

.cellYou img{

  width: 15px;
  margin-left: 0.6rem;
  margin-right: 0.2rem;

}

.youDown{

  transform: rotate(180deg);

}

.videoWrapper{

  position: relative;
  padding-bottom: 56.25%;
  display: flex;
  justify-content: center;

}

.cellVid{

  width: 96%;
  position: absolute;
  height: 96%;
  bottom: -336%;
  /*transition: bottom 0.8s ease-in-out;*/

}

.showVid{

    bottom: 0%;
    z-index: 4;

}

.hideVid{

  display: none;

}

.logo{

  width: 12%;
  max-width: 115px;
  min-width: 50px;
  transition: 0.2s ease-in-out;

}

.coggle{

  background-color: #dedede;

}

/*

///////////////////////////////////////////////////////////
Social Media Links
///////////////////////////////////////////////////////////

*/
/*
.socLinks{

  position: fixed;
  z-index: 10;

}

.basket{

  width: clamp(90px, 22vw, 200px);
  left: 5px;
  cursor: pointer;
  position: fixed;

}
*/
.spotify{

  width: clamp(100px, 20vw, 175px);
  cursor: pointer;
  position: fixed;
  left: 1%;
  top: 1%;
  z-index: 10;
  transition: 0.4s ease-out;

}

.socialButtonsContainer{

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;

}

.socialButtons{

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0.15rem 0.15rem 0.4rem rgb(0 0 0 / 20%), 0rem 0rem 0.15rem rgb(0 0 0 / 1%);
  margin: -2rem 0.5rem 1.5rem 0.5rem;
  padding: 10px;
  border-radius: 35px;
  font-size: 2.6rem;
  transition: 0.4s ease-out;
  color: black;
  background-color: white;

}

/*

///////////////////////////////////////////////////////////
Background images with animations
///////////////////////////////////////////////////////////

*/

@keyframes ball-rotate {
   0%   {
   transform: rotate(0deg) translateY(0px);
   }
   100%{
     transform: rotate(360deg) translateY(100px);
   }
}

@keyframes ball-fall {
   0%   {
   transform: translateX(0px) translateY(0px);
   }
   100%{
     transform: translateX(-150px) translateY(150px);
   }
}

.bgImages{

  position: fixed;
  z-index: -1;

}

.basketball{

  top: -10%;
  left: -11%;
  width: clamp(250px, 45vw, 450px);
  animation: ball-rotate 250s infinite alternate;

}

.football{

  bottom: -4%;
  right: -4%;
  width: clamp(250px, 45vw, 450px);
  animation: ball-fall 160s infinite alternate;

}

/*

///////////////////////////////////////////////////////////
Media Queries
///////////////////////////////////////////////////////////

*/

@media screen and (max-width: 769px){

  html{

    font-size: 14px;

  }

  .description{

    -webkit-line-clamp: 2;

  }

  .dte{

    margin-bottom: 0.3rem;

  }
  .innerCell{

    height: 100px;

  }
  .cellYou{

    /*top: -35.2px;*/

  }

}

@media screen and (max-width: 601px){

  html{

    font-size: 12px;

  }

  .toptions{

    flex-direction: column;
    padding-left: 0px;

  }

  .filter{

    margin-top: 10px;

  }

  .srch{

    width: 65vw;
    margin-right: 0px;

  }

  .innerCell{

    height: 75px;

  }

  .description{

    -webkit-line-clamp: 1;

  }

  .cellYou{

    /*top: -32.4px;*/

  }

}

@media screen and (max-width: 426px){

  .homeImg{

    padding-top: 35px;

  }

  .socialButtons{

    margin: -0.5rem 0.5rem 1.5rem 0.5rem;

  }

}

@media (hover:hover) and (pointer:fine) {

  .innerCell:hover{

    background-color: #dedede;

  }

  .cellYou > div:hover{

    background-color: #dedede;

  }

  .socialButtons:hover{

    transform: scale(1.1);

  }

  .spotify:hover{

    transform: scale(1.05);

  }

}
